
/*
==============================================
= ESTILOS GENERALES ==========================
==============================================
*/

.ownk_logo{
	height: 300px;
	left: 5%;
}

.menu{
	height: 300px;
	left: -10%;
}


.wg_img_example{
	height: 50px;
	width: 100%;
	background-color: #ddd;
	
}

body{
	
	background-color: #E9EAED;
	
}
