.ownk_hide{
	display:none;
}


.ownk_btn_hide{
	background: transparent;
	border-color: transparent;
	position: absolute;
	top: -2000px; 
	z-index: 1;
}

.ownk_right{
	text-align: right;
	
}

.ownk_align_center{
	text-align: center;
}

.ownk_shadow {
	/* -webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #333;  */
	
	-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.3);
box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.3);
	
}

.ownk_btn_shadow {
box-shadow: 0 1px 5px rgba(205, 202, 202, 0.3), 0 1px 2px
		rgba(0, 0, 0, 0.2) inset;
}		


.ownk_clearboth {
	height: 0px;
	clear: both;
}

.ownk_separador_h {
	height: 10px;
}

.ownk_separador_v {
  width: 2px;
  height: 10px;
}

.navbar-top-links li a.logo-ownk{
	
	padding: 0px;
}

.navbar-top-links li a img.logo-ownk
{
	margin-top: 10px;
	margin-left: 0px;
	margin-bottom: 10px;

}

.icono-ownk{
	
	
}

.fixed{
	position: fixed;
	min-width: 96%;
	width: auto;
	border-bottom: 1px solid #e7eaec !important;
}

#nav-bar-top.full{
	
	width: 100%;
}


	/*
* #0096AD Azul colmena
* #F8AF36 Naranja
* #FDC82E Amarillo medio
* #FFE133 Amarillo
**/
.ownk-color-azul{
	

	color:#0096AD !important;
	
	
}

.ownk-subrayado{
	

	text-decoration:underline;
	
	
}

.ownk-color-naranja{
	color:#F8AF36 !important;
}


.ownk-menu-lateral{
	/* border-radius: 5px 5px 5px 5px !important; */
	margin: 0px 0px 0px 0px !important;
	background-color: white; 
	border: 1px solid #DDE1E3; 
	
}