.ownk_hide{
	display:none;
}


.ownk_btn_hide{
	background: transparent;
	border-color: transparent;
	position: absolute;
	top: -2000px; 
	z-index: 1;
}

.ownk_right{
	text-align: right;
	
}


.navbar-top-links li a.logo-ownk{
	
	padding: 0px;
}

.navbar-top-links li a img.logo-ownk
{
	margin-top: 10px;
	margin-left: 0px;
	margin-bottom: 10px;

}

.icono-ownk{
	
	
}

.fixed{
	position: fixed;
	min-width: 96%;
	width: auto;
	border-bottom: 1px solid #e7eaec !important;
}

#nav-bar-top.full{
	
	width: 100%;
}