<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	
	<!-- properties se definen los datos para la conexion -->
	<!-- como las tenemos en un archivo de propiedades -->	
	<!-- utilizamos el atributo resource para referenciarlo -->
	<properties resource="oracle-sifi29.properties"/>
	
	<!-- settings configuracion-->
	<!-- setting parametro de configuracion es una etiqueta llave valor -->	
	<!-- name=llave; value=valor -->	
	
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<setting name="defaultStatementTimeout" value="25000"/>
	</settings>

	<typeAliases>
		
		<!-- ================================ -->
		<!-- Modulo Conversion Archivos ==== -->
		<!-- ================================ -->
		<typeAlias alias="encargoFiduciarioSIFI" type="com.developer.logic.modulo.conversion.dto.EncargoFiduciarioSIFI" />
		
 

	
	
	</typeAliases>
	
	<!-- environments default configuracion por defecto-->
	<!-- aqui se configuran las conexiones a la base de datos -->
	<!-- environment una configuracion especifica -->
	<environments default="development"> 
		<environment id="development"> 
			<transactionManager type="JDBC"/> 
			<dataSource type="POOLED"> 
				<property name="driver" value="${driver}"/> 
				<property name="url" value="${url}"/> 
				<property name="username" value="${username}"/> 
				<property name="password" value="${password}"/> 
			</dataSource> 
		</environment> 
	</environments> 
	
	
	
	
	<mappers>
		<mapper resource="com/developer/persistence/modulo/conversion/mapper/xml/SIFI29Dao.xml" />
	</mappers>
	
</configuration>
