<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	
	<!-- properties se definen los datos para la conexion -->
	<!-- como las tenemos en un archivo de propiedades -->	
	<!-- utilizamos el atributo resource para referenciarlo -->
	<properties resource="oracle.properties"/>
	
	<!-- settings configuracion-->
	<!-- setting parametro de configuracion es una etiqueta llave valor -->	
	<!-- name=llave; value=valor -->	
	
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<setting name="defaultStatementTimeout" value="25000"/>
	</settings>

	<typeAliases>
		<!-- ================================ -->
		<!-- Modulo general ================= -->
		<!-- ================================ -->
		<typeAlias alias="persona" type="com.developer.logic.modulo.general.dto.Persona" />
		<typeAlias alias="parametroConfiguracionGeneral" type="com.developer.logic.modulo.general.dto.ParametroConfiguracionGeneral" />
		
		
		<!-- ================================ -->
		<!-- Modulo autenticacion =========== -->
		<!-- ================================ -->
		<typeAlias alias="usuario" type="com.developer.logic.modulo.autenticacion.dto.Usuario" />
		<typeAlias alias="servicio" type="com.developer.logic.modulo.autenticacion.dto.Servicio" />
		<typeAlias alias="usuarioURL" type="com.developer.logic.modulo.autenticacion.dto.UsuarioURL" />
		<typeAlias alias="modulo" type="com.developer.logic.modulo.autenticacion.dto.Modulo" />
		
		
		
		<!-- ================================ -->
		<!-- Modulo notificaciones ========== -->
		<!-- ================================ -->
		<typeAlias alias="notificacion" type="com.developer.logic.modulo.notificaciones.dto.Notificacion" />
	
	
		<!-- ================================ -->
		<!-- Modulo Unificacion Archivos ==== -->
		<!-- ================================ -->
		<typeAlias alias="archivoRecaudoPorUnificar" type="com.developer.logic.modulo.unificacion.dto.ArchivoRecaudoPorUnificar" />
		<typeAlias alias="archivoRecaudoPorUnificarRepetido" type="com.developer.logic.modulo.unificacion.dto.ArchivoRecaudoPorUnificarRepetido" />
		<typeAlias alias="archivoRecaudoUnificado" type="com.developer.logic.modulo.unificacion.dto.ArchivoRecaudoUnificado" />
		<typeAlias alias="archivoZIPProcesoUnificacion" type="com.developer.logic.modulo.unificacion.dto.ArchivoZIPProcesoUnificacion" />
		<typeAlias alias="procesoUnificacionArchivos" type="com.developer.logic.modulo.unificacion.dto.ProcesoUnificacionArchivos" />
		<typeAlias alias="historicoArchivoRecaudoPorUnificar" type="com.developer.logic.modulo.unificacion.dto.HistoricoArchivoRecaudoPorUnificar" />
		<typeAlias alias="historicoArchivoRecaudoUnificado" type="com.developer.logic.modulo.unificacion.dto.HistoricoArchivoRecaudoUnificado" />
		<typeAlias alias="historicoProcesoUnificacionArchivos" type="com.developer.logic.modulo.unificacion.dto.HistoricoProcesoUnificacionArchivos" />
		<typeAlias alias="tipoArchivoRecaudo" type="com.developer.logic.modulo.unificacion.dto.TipoArchivoRecaudo" />
		<typeAlias alias="transformacionArchivoRecaudo" type="com.developer.logic.modulo.unificacion.dto.TransformacionArchivoRecaudo" />
	
	
	
	
	
	</typeAliases>
	
	<!-- environments default configuracion por defecto-->
	<!-- aqui se configuran las conexiones a la base de datos -->
	<!-- environment una configuracion especifica -->
	<environments default="development"> 
		<environment id="development"> 
			<transactionManager type="JDBC"/> 
			<dataSource type="POOLED"> 
				<property name="driver" value="${driver}"/> 
				<property name="url" value="${url}"/> 
				<property name="username" value="${username}"/> 
				<property name="password" value="${password}"/> 
			</dataSource> 
		</environment> 
	</environments> 
	
	
	
	
	<mappers>
		<!-- ================================ -->
		<!-- Modulo general ================= -->
		<!-- ================================ -->
		<mapper resource="com/developer/persistence/modulo/general/mapper/xml/PersonaDao.xml" />
		<mapper resource="com/developer/persistence/modulo/general/mapper/xml/ServerDao.xml" />
		<mapper resource="com/developer/persistence/modulo/general/mapper/xml/ConfiguracionGeneralDao.xml" />
		
		<!-- ================================ -->
		<!-- Modulo autenticacion =========== -->
		<!-- ================================ -->
		<mapper resource="com/developer/persistence/modulo/autenticacion/mapper/xml/ServicioDao.xml" />
		<mapper resource="com/developer/persistence/modulo/autenticacion/mapper/xml/UsuarioDao.xml" />
	
		<!-- ================================ -->
		<!-- Modulo notificaciones ========== -->
		<!-- ================================ -->
		<mapper resource="com/developer/persistence/modulo/notificaciones/mapper/xml/NotificacionInternaDao.xml" />
		
		
		<!-- ================================ -->
		<!-- Modulo Unificacion Archivos ==== -->
		<!-- ================================ -->
		<mapper resource="com/developer/persistence/modulo/unificacion/mapper/xml/ArchivoRecaudoPorUnificar.xml" />
		<mapper resource="com/developer/persistence/modulo/unificacion/mapper/xml/ArchivoRecaudoPorUnificarRepetido.xml" />
		<mapper resource="com/developer/persistence/modulo/unificacion/mapper/xml/ArchivoRecaudoUnificado.xml" />
		<mapper resource="com/developer/persistence/modulo/unificacion/mapper/xml/ArchivoZIPProcesoUnificacion.xml" />
		<mapper resource="com/developer/persistence/modulo/unificacion/mapper/xml/ProcesoUnificacionArchivosDao.xml" />
		<mapper resource="com/developer/persistence/modulo/unificacion/mapper/xml/TipoArchivoRecaudo.xml" />
		<mapper resource="com/developer/persistence/modulo/unificacion/mapper/xml/TransformacionArchivoRecaudo.xml" />
		
		
		
	</mappers>
	
</configuration>
