
/*
==============================================
= ESTILOS GENERALES ==========================
==============================================
*/

.wg_img_example{
	height: 100px;
	width: 100%;
	background-color: #ddd;
	
}
